Repository onflow/flow-go, pull requests merged in 2025-01, with the labels that each got.

#6836 Include human-friendly error messages on EVM transaction events
  fvm/evm/events/events.go
  fvm/evm/evm_test.go
  fvm/evm/types/result.go
Labels: Improvement, Flow EVM

#6841 Remove trace generation and GCP uploading functionality
  cmd/execution_builder.go
  cmd/execution_config.go
  fvm/context.go
  fvm/evm/debug/tracer.go
  fvm/evm/debug/tracer_test.go
  fvm/evm/debug/uploader.go
  fvm/evm/debug/uploader_test.go
  fvm/evm/emulator/emulator_test.go
  fvm/evm/evm.go
  fvm/evm/handler/handler.go
  fvm/evm/handler/handler_test.go
  fvm/evm/testutils/handler.go
  fvm/script.go
  fvm/transactionInvoker.go
Labels: Tech Debt, Flow EVM

#6937 [v0.37] Port internal fixes
  engine/common/version/version_control.go
  fvm/fvm_test.go
  go.mod
  go.sum
  insecure/go.mod
  insecure/go.sum
  integration/go.mod
  integration/go.sum
  model/flow/protocol_state_test.go
Labels: Bugfix

#6952 Use `ErrorMessageWithRevertReason` when validating replay of EVM tx
  fvm/evm/offchain/sync/replay.go
Labels: Flow EVM

#6844 Remove buffer gas added in the gas used from `EVM.dryRun`
  fvm/evm/emulator/emulator.go
  fvm/evm/evm_test.go
Labels: Tech Debt, Flow EVM
