Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @awishformore, @zhangchiqing, @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13, @vishalchangrani, @tarakby, @ljk662

refactors block consumer tests with elements match
  engine/verification/assigner/blockconsumer/consumer_test.go
  utils/unittest/blocks.go
Owners: @ramtinms, @yhassanzadeh13

Update module/jobqueue/consumer.go
  module/jobqueue/consumer.go
Owners: none

refactors block to job conversion symmetric
  engine/verification/assigner/blockconsumer/blockjob.go
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/reader.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/assigner/blockconsumer/worker.go
Owners: @ramtinms, @yhassanzadeh13

moves jobToBlock
  engine/verification/assigner/blockconsumer/blockjob.go
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/reader.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/assigner/blockconsumer/worker.go
Owners: @ramtinms, @yhassanzadeh13

migrate errors
  fvm/account.go
  fvm/crypto.go
  fvm/env.go
  fvm/errors.go
  fvm/errors/accounts.go
  fvm/errors/codes.go
  fvm/errors/fvm.go
  fvm/errors/state.go
  fvm/errors/transaction.go
  fvm/errors/transactionExecution.go
  fvm/errors/transactionValidation.go
  fvm/fvm.go
  fvm/fvm_test.go
  fvm/script.go
  fvm/state/accounts.go
  fvm/state/accounts_test.go
  fvm/state/errors.go
  fvm/state/state.go
  fvm/transaction.go
  fvm/transactionAccountFrozen.go
  fvm/transactionFeeDeductor.go
  fvm/transactionInvocator.go
  fvm/transactionInvocator_test.go
  fvm/transactionSequenceNum.go
  fvm/transactionStorageLimiter.go
  fvm/transactionVerifier.go
  fvm/transactionVerifier_test.go
  fvm/transaction_processor_test.go
  storage/mock/batch_storage.go
  storage/mock/events.go
  storage/mock/service_events.go
  storage/mock/transaction.go
  storage/mock/transaction_results.go
  storage/mocks/storage.go
Owners: none

[Verification] Yahya/5353-finalized-block-reader (#548)
  engine/testutil/nodes.go
  engine/verification/assigner/blockconsumer/blockjob.go
  engine/verification/assigner/blockconsumer/consumer.go
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/reader.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/assigner/blockconsumer/worker.go
  engine/verification/assigner/consumer.go
  engine/verification/assigner/consumer_test.go
  engine/verification/assigner/engine.go
  engine/verification/assigner/engine_test.go
  engine/verification/assigner/processor.go
  engine/verification/fetcher/consumer.go
  engine/verification/fetcher/consumer_test.go
  engine/verification/finder/concurrency_test.go
  engine/verification/utils/fixtures.go
  module/jobqueue/consumer.go
  module/jobqueue/consumer_behavior_test.go
  utils/unittest/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

migrate more
  engine/execution/computation/computer/computer_test.go
  fvm/errors/accounts.go
  fvm/errors/codes.go
  fvm/errors/contracts.go
  fvm/errors/state.go
  fvm/errors/transaction.go
  fvm/errors/transactionExecution.go
  fvm/errors/transactionValidation.go
  fvm/mock/script_processor.go
  fvm/mock/transaction_processor.go
  fvm/script.go
  fvm/state/accounts.go
  fvm/state/state.go
  fvm/transactionVerifier.go
  fvm/transaction_processor_test.go
  fvm/transaction_test.go
  module/chunks/chunkVerifier_test.go
Owners: @m4ksio, @psiemens

clean up
  access/errors.go
  fvm/blocks.go
  fvm/errors/accounts.go
  fvm/errors/codes.go
  fvm/errors/contracts.go
  fvm/errors/errors.go
  fvm/errors/failures.go
  fvm/errors/fvm.go
  fvm/errors/transaction.go
  fvm/errors/transactionExecution.go
  fvm/errors/transactionValidation.go
  fvm/script.go
  fvm/transactionInvocator.go
  module/chunks/chunkVerifier_test.go
Owners: none

Revert "adding block ID to TransactionResult response (#557)" since this will not be deployed on mainnet6
  access/api.go
  engine/access/rpc/backend/backend_test.go
  engine/access/rpc/backend/backend_transactions.go
  engine/access/rpc/backend/retry.go
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

update to Cadence v0.13.9
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

access node: passing a list of fixed execution node ids to choose from
  cmd/access/main.go
  engine/access/access_test.go
  engine/access/rpc/backend/backend.go
  engine/access/rpc/backend/backend_test.go
  engine/access/rpc/backend/historical_access_test.go
  engine/access/rpc/backend/retry_test.go
  engine/access/rpc/engine.go
  storage/mock/batch_storage.go
  storage/mock/events.go
  storage/mock/service_events.go
  storage/mock/transaction.go
  storage/mock/transaction_results.go
  storage/mocks/storage.go
Owners: none

Refactor WAL to be a separate component
  cmd/bootstrap/run/execution_state.go
  cmd/execution/main.go
  cmd/util/cmd/exec-data-json-export/ledger_exporter.go
  cmd/util/cmd/execution-state-extract/execution_state_extract.go
  cmd/util/cmd/execution-state-extract/execution_state_extract_test.go
  cmd/util/cmd/read-execution-state/cmd.go
  cmd/util/cmd/read-execution-state/list-wals/cmd.go
  engine/execution/state/bootstrap/bootstrap_test.go
  engine/execution/state/state_test.go
  engine/testutil/mock/nodes.go
  engine/testutil/nodes.go
  engine/verification/utils/fixtures.go
  ledger/complete/ledger.go
  ledger/complete/ledger_benchmark_test.go
  ledger/complete/ledger_test.go
  ledger/complete/mtrie/flattener/forest_test.go
  ledger/complete/mtrie/forest.go
  ledger/complete/mtrie/forest_test.go
  ledger/complete/mtrie/trie/json_test.go
  ledger/complete/wal/checkpointer.go
  ledger/complete/wal/checkpointer_test.go
  ledger/complete/wal/compactor_test.go
  ledger/complete/wal/fixtures/noopwal.go
  ledger/complete/wal/wal.go
  ledger/complete/wal/wal_test.go
  ledger/partial/ledger_test.go
  ledger/partial/ptrie/partialTrie_test.go
  module/chunks/chunkVerifier_test.go
  module/metrics.go
Owners: @vishalchangrani, @ljk662, @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13, @AlexHentschel

Remove comments
  engine/execution/state/state_test.go
  engine/verification/utils/fixtures.go
Owners: @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13

fixing unit test
  engine/access/rpc/backend/backend_test.go
Owners: none

clean up
  fvm/accounts_test.go
  fvm/env.go
  fvm/state/accounts.go
Owners: none

fix tests
  fvm/errors/codes.go
  fvm/errors/contracts.go
  fvm/errors/transactionExecution.go
  fvm/transaction_processor_test.go
Owners: none

fox tests
  fvm/errors/errors.go
  fvm/errors/transactionExecution.go
  fvm/transactionInvocator.go
  fvm/transaction_processor_test.go
  fvm/transaction_test.go
Owners: none

split out logic into dedicated path depending on conditions
  ledger/common/hash.go
  ledger/common/utils/split.go
  ledger/complete/mtrie/forest.go
  ledger/complete/mtrie/node/node.go
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

Update cmd/bootstrap/transit/cmd/prepare.go
  cmd/bootstrap/transit/cmd/prepare.go
Owners: @vishalchangrani, @ljk662

Update cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/pull.go
Owners: @vishalchangrani, @ljk662

Update cmd/bootstrap/cmd/google.go
  cmd/bootstrap/cmd/google.go
Owners: @vishalchangrani, @ljk662

Update cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/pull.go
Owners: @vishalchangrani, @ljk662

Update cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/pull.go
Owners: @vishalchangrani, @ljk662

Update cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/pull.go
Owners: @vishalchangrani, @ljk662

Remove `old` from .gitignore
  cmd/bootstrap/transit/.gitignore
Owners: @vishalchangrani, @ljk662

Update cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/pull.go
Owners: @vishalchangrani, @ljk662

Add bootstrap executable to .gitignore
  .gitignore
Owners: none

Rearrage prepare command
  cmd/bootstrap/transit/cmd/prepare.go
Owners: @vishalchangrani, @ljk662

Add crypto_test.go
  .gitignore
  cmd/bootstrap/transit/cmd/crypto_test.go
  cmd/bootstrap/transit/cmd/flags.go
  cmd/bootstrap/transit/cmd/prepare.go
  cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/push.go
  cmd/bootstrap/transit/cmd/root.go
  cmd/bootstrap/transit/cmd/snapshot.go
  cmd/bootstrap/transit/cmd/utils.go
Owners: @vishalchangrani, @ljk662

Add wrap command and fix bigs
  cmd/bootstrap/transit/cmd/flags.go
  cmd/bootstrap/transit/cmd/push.go
  cmd/bootstrap/transit/cmd/snapshot.go
  cmd/bootstrap/transit/cmd/wrap.go
Owners: @vishalchangrani, @ljk662

Add `bootstrap` executable to .gitignore
  .gitignore
Owners: none

Update module/dkg/client.go
  module/dkg/client.go
Owners: none

fixing unit test
  engine/access/rpc/backend/backend_test.go
Owners: none

fixing unit test
  engine/access/rpc/backend/backend_test.go
Owners: none

update to Cadence v0.13.9 (#559)
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

clean up
  fvm/errors.go
  fvm/transactionInvocator.go
Owners: none

more clean up
  access/errors.go
  fvm/env.go
  fvm/script.go
  fvm/transaction.go
Owners: none

Update botostrap code
  integration/testnet/network.go
  integration/testnet/util.go
  integration/tests/common/mvp_test.go
  utils/io/write.go
Owners: none

Update to properly handle unknown status from historical access node
  engine/access/rpc/backend/backend_transactions.go
Owners: none

Make flowBucket constant remove "bucket" flag
  cmd/bootstrap/transit/cmd/flags.go
  cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/push.go
Owners: @vishalchangrani, @ljk662

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @awishformore @zhangchiqing
/engine/consensus/** @AlexHentschel @awishformore @zhangchiqing

# Execution Stream
/cmd/execution/** @m4ksio @psiemens
/engine/execution/** @m4ksio @psiemens

# Observation Stream
/cmd/observation/** @psiemens
/engine/observation/** @psiemens
/protobuf/services/observation/** @psiemens

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani @ljk662
