Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @durkmurder, @m4ksio, @ramtinms, @vishalchangrani, @yhassanzadeh13, @janezpodhostnik, @pattyshack, @tarakby, @gomisha, @SaveTheRbtz

[Common Provider Engine] Adds inbound queue (#3404)
  cmd/collection/main.go
  cmd/execution_builder.go
  cmd/execution_config.go
  engine/collection/test/cluster_switchover_test.go
  engine/common/provider/engine.go
  engine/common/provider/engine_test.go
  engine/common/provider/internal/entityRequest.go
  engine/errors.go
  engine/execution/provider/engine.go
  engine/execution/provider/engine_test.go
  engine/testutil/nodes.go
  module/mempool/chunk_requests.go
  module/mempool/herocache/backdata/cache.go
  module/mempool/queue/chunkDataPack.go
  module/mempool/queue/chunkDataPack_test.go
  module/mempool/queue/heroQueue.go
  module/mempool/queue/heroQueue_test.go
  module/mempool/queue/heroStore.go
  module/mempool/queue/heroStore_test.go
  module/mempool/queue/internal/messageEntity.go
  module/metrics.go
  module/metrics/herocache.go
  module/metrics/noop.go
  module/mock/hero_cache_metrics.go
  network/conduit.go
  utils/unittest/fixtures.go
  utils/unittest/mockEntity.go
Owners: @jordanschalm, @m4ksio, @ramtinms, @yhassanzadeh13, @vishalchangrani

fix unittest
  network/internal/messageutils/utils.go
  network/p2p/test/sporking_test.go
  network/p2p/unicast/ratelimit/bandwidth_rate_limiter_test.go
  network/test/middleware_test.go
  network/test/unicast_authorization_test.go
Owners: @yhassanzadeh13, @vishalchangrani

remove duplicate check from merge conflict
  network/codec/cbor/codec.go
Owners: @yhassanzadeh13, @vishalchangrani

[Networking] Reduce debug-level log spam
  network/p2p/scoring/score_option.go
Owners: @yhassanzadeh13, @vishalchangrani

add eventid and type back for compatibility
  network/p2p/network.go
Owners: @yhassanzadeh13, @vishalchangrani

[Baseline Protection] Enables disconnection from disallowed peers (#3459)
  network/internal/p2pfixtures/fixtures.go
  network/internal/testutils/testUtil.go
  network/p2p/connection/connection_gater.go
  network/p2p/connection/connection_gater_test.go
  network/p2p/connection/connector.go
  network/p2p/connectionGater.go
  network/p2p/mock/connection_gater.go
  network/p2p/p2pbuilder/libp2pNodeBuilder.go
  network/p2p/p2pnode/libp2pNode_test.go
  network/p2p/p2pnode/libp2pStream_test.go
  network/p2p/scoring/subscription_validator_test.go
Owners: @yhassanzadeh13, @vishalchangrani

address review feedback
  network/codec/cbor/codec.go
  network/codec/cbor/codec_test.go
  network/codec/cbor/decoder.go
  network/codec/cbor/decoder_test.go
  network/codec/errors.go
  network/p2p/middleware/middleware.go
  network/validator/pubsub/topic_validator.go
Owners: @yhassanzadeh13, @vishalchangrani

[Network] Fix cbor decoder validation
  network/codec.go
  network/codec/cbor/codec.go
  network/codec/cbor/codec_test.go
  network/codec/cbor/decoder.go
  network/codec/cbor/decoder_test.go
  network/codec/cbor/encoder.go
  network/codec/codes.go
  network/codec/errors.go
  network/p2p/middleware/middleware.go
  network/validator/pubsub/topic_validator.go
Owners: @yhassanzadeh13, @vishalchangrani

Merge pull request #3490 from onflow/khalil/1817-check-unicast-message-channel-sub
  network/p2p/libp2pNode.go
  network/p2p/middleware/middleware.go
  network/p2p/mock/lib_p2_p_node.go
  network/p2p/p2pnode/libp2pNode.go
  network/p2p/p2pnode/libp2pNode_test.go
  network/test/meshengine_test.go
  network/test/middleware_test.go
  network/test/unicast_authorization_test.go
Owners: @yhassanzadeh13, @vishalchangrani

Merge pull request #3525 from onflow/khalil/1821-restrict-broadcast-message
  network/message/authorization.go
  network/message/errors.go
  network/message/init.go
  network/message/protocols.go
  network/p2p/middleware/middleware.go
  network/slashing/consumer.go
  network/slashing/violations_consumer.go
  network/test/unicast_authorization_test.go
  network/validator/authorized_sender_validator.go
  network/validator/authorized_sender_validator_test.go
  network/validator/pubsub/topic_validator.go
Owners: @yhassanzadeh13, @vishalchangrani

[Networking] Adds metrics to GossipSub router (#3501)
  cmd/access/node_builder/access_node_builder.go
  cmd/observer/node_builder/observer_builder.go
  follower/follower_builder.go
  go.mod
  insecure/go.mod
  insecure/go.sum
  integration/go.sum
  module/metrics.go
  module/metrics/network.go
  module/metrics/noop.go
  module/mock/gossip_sub_router_metrics.go
  module/mock/network_metrics.go
  network/internal/p2pfixtures/fixtures.go
  network/internal/testutils/testUtil.go
  network/p2p/p2pbuilder/libp2pNodeBuilder.go
  network/p2p/p2pnode/observableGossipSub.go
  network/test/middleware_test.go
Owners: @vishalchangrani, @gomisha, @yhassanzadeh13

add progress logs
  engine/execution/state/delta/oracle_benchmark_test.go
Owners: @m4ksio, @ramtinms

wires up gossipsub to tests
  insecure/corruptlibp2p/pubsubAdapter.go
  insecure/corruptnet/libp2p_node_factory.go
  insecure/internal/corruptGossipSubRouter.go
  insecure/internal/factory.go
  insecure/internal/subscription.go
  insecure/internal/topic.go
  network/p2p/p2pbuilder/libp2pNodeBuilder.go
  network/p2p/test/fixtures.go
Owners: @gomisha, @yhassanzadeh13, @vishalchangrani

update to rocksdb
  engine/execution/state/delta/oracle_benchmark_test.go
  engine/execution/state/delta/storage.go
  go.mod
  go.sum
Owners: @m4ksio, @ramtinms

Update storage/badger/operation/results.go
  storage/badger/operation/results.go
Owners: none

burnishes gossipsub adapter
  network/p2p/p2pbuilder/libp2pNodeBuilder.go
  network/p2p/p2pnode/gossipSubAdapter.go
Owners: @yhassanzadeh13, @vishalchangrani

adds godoc
  network/p2p/p2pnode/gossipSubAdapterConfig.go
  network/p2p/p2pnode/gossipSubTopic.go
Owners: @yhassanzadeh13, @vishalchangrani

adds comment
  insecure/internal/subscription.go
Owners: @gomisha, @yhassanzadeh13

adds godoc
  insecure/corruptlibp2p/pubsubAdapterConfig.go
  insecure/internal/subscription.go
  network/p2p/mock/pub_sub_adapter_config.go
  network/p2p/p2pnode/gossipSubAdapterConfig.go
  network/p2p/pubsub.go
Owners: @gomisha, @yhassanzadeh13, @vishalchangrani

fixes build errors
  network/p2p/p2pbuilder/libp2pNodeBuilder.go
  network/p2p/test/fixtures.go
Owners: @yhassanzadeh13, @vishalchangrani

moves two files
  insecure/corruptlibp2p/libp2p_node_factory.go
  insecure/corruptlibp2p/p2p_node.go
Owners: @gomisha, @yhassanzadeh13

tidy
  integration/go.mod
  integration/go.sum
Owners: none

removes import cycle
  insecure/corruptlibp2p/libp2p_node_factory.go
  insecure/internal/factory.go
Owners: @gomisha, @yhassanzadeh13

lint fix
  insecure/cmd/corrupted_builder.go
Owners: @gomisha, @yhassanzadeh13

tidy
  integration/go.mod
  integration/go.sum
Owners: none

generates mocks
  network/p2p/mock/score_option_builder.go
  network/p2p/mock/subscription_filter.go
Owners: @yhassanzadeh13, @vishalchangrani

test params
  engine/execution/state/delta/oracle_benchmark_test.go
Owners: @m4ksio, @ramtinms

Review feedback Add doc for HighestByServiceEventType Update test to increase reusability
  storage/badger/operation/results_test.go
  storage/badger/results.go
Owners: none

make it slow
  engine/execution/state/delta/oracle_benchmark_test.go
  engine/execution/state/delta/storage.go
Owners: @m4ksio, @ramtinms

up the game
  engine/execution/state/delta/oracle_benchmark_test.go
Owners: @m4ksio, @ramtinms

Updated metrics for event loop
  consensus/hotstuff/eventloop/event_loop.go
  module/metrics/example/collection/main.go
  module/metrics/example/consensus/main.go
  module/metrics/hotstuff.go
Owners: none

Added metrics for tracking vote and timeout object processing duration
  consensus/hotstuff/timeoutaggregator/timeout_aggregator.go
  consensus/hotstuff/voteaggregator/vote_aggregator.go
  module/metrics.go
  module/metrics/hotstuff/consumer.go
Owners: none

Fixed tests. Partially fixed initialization
  cmd/consensus/main.go
  consensus/aggregators.go
  consensus/hotstuff/integration/instance_test.go
  consensus/hotstuff/timeoutaggregator/timeout_aggregator.go
  consensus/hotstuff/timeoutaggregator/timeout_aggregator_test.go
  consensus/hotstuff/voteaggregator/vote_aggregator_test.go
  consensus/integration/nodes_test.go
  module/metrics/noop.go
Owners: @AlexHentschel, @durkmurder, @jordanschalm

Fixed init of collector cluster fatory
  engine/collection/epochmgr/factories/hotstuff.go
Owners: @jordanschalm

Added more metrics
  module/metrics.go
  module/metrics/hotstuff.go
  module/metrics/hotstuff/consumer.go
Owners: none

Fixed noop metrics
  module/metrics/noop.go
Owners: none

Linted
  consensus/aggregators.go
  consensus/hotstuff/integration/instance_test.go
  consensus/hotstuff/timeoutaggregator/timeout_aggregator.go
  consensus/hotstuff/timeoutaggregator/timeout_aggregator_test.go
  consensus/hotstuff/voteaggregator/vote_aggregator.go
  consensus/hotstuff/voteaggregator/vote_aggregator_test.go
  engine/collection/message_hub/message_hub.go
  engine/collection/message_hub/message_hub_test.go
  engine/consensus/message_hub/message_hub.go
  engine/consensus/message_hub/message_hub_test.go
  module/metrics/hotstuff.go
  module/metrics/noop.go
Owners: @jordanschalm, @AlexHentschel, @durkmurder

use rocks
  engine/execution/state/delta/oracle_benchmark_test.go
  engine/execution/state/delta/storage.go
Owners: @m4ksio, @ramtinms

Added extra metrics to message hub and compliance engines
  engine/collection/compliance/engine.go
  engine/collection/message_hub/message_hub.go
  engine/collection/message_hub/message_hub_test.go
  engine/consensus/compliance/engine.go
  engine/consensus/message_hub/message_hub.go
Owners: @jordanschalm, @AlexHentschel, @durkmurder

update the max depth logic
  storage/merkle/node.go
  storage/merkle/tree.go
Owners: none

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @durkmurder @jordanschalm
/engine/consensus/** @AlexHentschel @durkmurder @jordanschalm

# Execution Stream
/cmd/execution/** @m4ksio @ramtinms
/engine/execution/** @m4ksio @ramtinms

# Access Stream
/cmd/access/** @vishalchangrani
/engine/access/** @vishalchangrani

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# FVM Stream 
/fvm/**  @ramtinms @janezpodhostnik @pattyshack

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani

# Dev Tools Stream
.github/workflows/** @gomisha
/insecure/** @gomisha @yhassanzadeh13
/integration/benchnet2/** @gomisha
/tools/test_monitor/** @gomisha

# Performance Stream
/integration/benchmark/** @SaveTheRbtz @gomisha
/integration/localnet/** @SaveTheRbtz
/module/profiler/** @SaveTheRbtz @pattyshack
/module/trace/** @SaveTheRbtz @pattyshack
/module/tracer.go @SaveTheRbtz @pattyshack
