Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @awishformore, @zhangchiqing, @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13, @vishalchangrani, @tarakby, @ljk662

modularized proofing code and refactored code such that we only incur cost of synchronization primitives, if we are actually using them
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

renamed heightIndex to depth
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

decluttered code
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

Fix tests
  fvm/transaction_test.go
Owners: none

Update to properly handle unknown status from historical access node (#564)
  engine/access/rpc/backend/backend_transactions.go
Owners: none

more clean up
  fvm/errors/errors.go
  fvm/errors/execution.go
  fvm/errors/validation.go
  fvm/script.go
  fvm/transaction.go
Owners: none

Merge conflict
  storage/badger/my_receipts.go
  storage/badger/receipts.go
Owners: none

error doc update
  fvm/errors/errors.go
Owners: none

Batch storage for Execution Receipts (#534)
  engine/execution/state/state.go
  storage/badger/my_receipts.go
  storage/badger/operation/receipts.go
  storage/badger/receipts.go
  storage/mock/execution_receipts.go
  storage/mock/my_execution_receipts.go
  storage/receipts.go
Owners: @m4ksio, @psiemens

Enable contract update validation in the runtime (#549)
  cmd/execution/main.go
  cmd/scaffold.go
  cmd/verification/main.go
  engine/execution/computation/computer/computer_test.go
  engine/execution/computation/manager_test.go
  engine/execution/computation/programs_test.go
  engine/execution/state/bootstrap/bootstrap.go
  engine/testutil/nodes.go
  engine/verification/utils/fixtures.go
  fvm/fvm.go
  fvm/fvm_test.go
  fvm/handler/programs_test.go
  fvm/transaction_processor_test.go
  fvm/transaction_test.go
Owners: @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13

developes mock chunk processor helper
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

adds godoc for mock chunk processor
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

update bootstrap message
  cmd/scaffold.go
Owners: none

updates mock chunk assigner signature
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

fix cache clean up (unhappy case)
  fvm/env.go
  fvm/handler/programs.go
Owners: none

check error
  fvm/env.go
Owners: none

generates storage mocks
  storage/mock/batch_storage.go
  storage/mock/events.go
  storage/mock/service_events.go
  storage/mock/transaction.go
  storage/mock/transaction_results.go
  storage/mocks/storage.go
Owners: none

refactors to complete execution receipt fixture
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/finder/concurrency_test.go
  engine/verification/finder/engine_test.go
  engine/verification/test/assignerfetcher_test.go
  engine/verification/test/helper.go
  engine/verification/test/verification_test.go
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

move GCS utils to a separate package
  cmd/bootstrap/cmd/pull.go
  cmd/bootstrap/gcs/gcs.go
  cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/push.go
Owners: @vishalchangrani, @ljk662

[FVM] Updating program cache handler to always clean up state stack (#567)
  fvm/env.go
  fvm/handler/programs.go
Owners: none

Apply suggestions from code review
  engine/consensus/ingestion/engine.go
Owners: @AlexHentschel, @awishformore, @zhangchiqing

refactors complete execution receipt chain fixture
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

improve overflow check
  engine/consensus/ingestion/engine.go
Owners: @AlexHentschel, @awishformore, @zhangchiqing

fix a test, add a threshold for update parallelization, and minor suggestions
  ledger/complete/ledger_benchmark_test.go
  ledger/complete/mtrie/forest.go
  ledger/complete/mtrie/node/node.go
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

send guarantees to all consensus nodes
  engine/consensus/ingestion/engine.go
Owners: @AlexHentschel, @awishformore, @zhangchiqing

simplifies complete execution receipt fixture
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

test updates
  engine/consensus/ingestion/engine_test.go
Owners: @AlexHentschel, @awishformore, @zhangchiqing

adds chunk assigner fixture
  engine/verification/test/helper.go
  engine/verification/test/verification_test.go
Owners: @ramtinms, @yhassanzadeh13

refactors to even chunk index assigner
  engine/verification/test/helper.go
  engine/verification/test/verification_test.go
Owners: @ramtinms, @yhassanzadeh13

handle nil errors and unverifiable inputs
  engine/errors.go
Owners: none

test error return types
  engine/consensus/ingestion/engine.go
  engine/consensus/ingestion/engine_test.go
Owners: @AlexHentschel, @awishformore, @zhangchiqing

Add test
  fvm/handler/programs_test.go
Owners: none

WAL parallel WIP
  ledger/complete/ledger.go
  ledger/complete/ledger_test.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

Add test
  ledger/complete/ledger_test.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

Add error bubbling test
  ledger/complete/ledger.go
  ledger/complete/ledger_test.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

Update network.go and mvp tests
  integration/testnet/network.go
  integration/tests/common/mvp_test.go
Owners: none

review comments
  engine/access/rpc/backend/backend.go
Owners: none

access node: passing a list of fixed execution node ids to choose from
  cmd/access/main.go
  engine/access/access_test.go
  engine/access/rpc/backend/backend.go
  engine/access/rpc/backend/backend_test.go
  engine/access/rpc/backend/historical_access_test.go
  engine/access/rpc/backend/retry_test.go
  engine/access/rpc/engine.go
  storage/mock/batch_storage.go
  storage/mock/events.go
  storage/mock/service_events.go
  storage/mock/transaction.go
  storage/mock/transaction_results.go
  storage/mocks/storage.go
Owners: none

Update commands and fix bugs
  cmd/bootstrap/transit/cmd/prepare.go
  cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/push.go
  cmd/bootstrap/transit/cmd/snapshot.go
  cmd/bootstrap/transit/cmd/utils.go
  cmd/bootstrap/transit/cmd/wrap.go
Owners: @vishalchangrani, @ljk662

skip sending vote if we are not staked for block
  engine/consensus/compliance/engine.go
Owners: @AlexHentschel, @awishformore, @zhangchiqing

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @awishformore @zhangchiqing
/engine/consensus/** @AlexHentschel @awishformore @zhangchiqing

# Execution Stream
/cmd/execution/** @m4ksio @psiemens
/engine/execution/** @m4ksio @psiemens

# Observation Stream
/cmd/observation/** @psiemens
/engine/observation/** @psiemens
/protobuf/services/observation/** @psiemens

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani @ljk662
