Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @awishformore, @zhangchiqing, @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13, @vishalchangrani, @tarakby, @ljk662

clean up
  fvm/transaction.go
  fvm/transaction_test.go
Owners: none

linter fix
  fvm/errors/base.go
Owners: none

relaxes tests parameters
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

adds documentation
  engine/testutil/nodes.go
Owners: none

adds documentation
  engine/verification/fetcher/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

always print error codes
  fvm/errors/accounts.go
  fvm/errors/base.go
  fvm/errors/contracts.go
  fvm/errors/failures.go
Owners: none

fixes documentations
  engine/verification/fetcher/engine.go
Owners: @ramtinms, @yhassanzadeh13

more error migration
  fvm/handler/contract.go
Owners: none

moves chunk consumer to a new package
  engine/verification/fetcher/chunkconsumer/consumer.go
  engine/verification/fetcher/chunkconsumer/consumer_test.go
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

adds documentation for chunk processor
  engine/verification/fetcher/processor.go
Owners: @ramtinms, @yhassanzadeh13

repackages fetcher consumer
  engine/verification/fetcher/chunkconsumer/consumer.go
  engine/verification/fetcher/chunkconsumer/consumer_test.go
  engine/verification/fetcher/chunkconsumer/job.go
  engine/verification/fetcher/chunkconsumer/jobs.go
  engine/verification/fetcher/chunkconsumer/worker.go
Owners: @ramtinms, @yhassanzadeh13

cleans up assigner fetcher test
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

refactors helper
  engine/verification/test/helper.go
Owners: @ramtinms, @yhassanzadeh13

adds documentation for fixtures
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

Update Cadence to v0.14.4 (#574)
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

Add storage reservation
  cmd/bootstrap/cmd/finalize.go
Owners: @vishalchangrani, @ljk662

Fix account fees setup
  cmd/bootstrap/cmd/finalize.go
Owners: @vishalchangrani, @ljk662

remove nil checkings
  engine/execution/computation/computer/computer.go
  engine/execution/computation/computer/computer_test.go
  engine/execution/computation/manager_test.go
  engine/execution/computation/programs_test.go
  engine/verification/utils/fixtures.go
  fvm/env.go
  fvm/transactionAccountFrozen.go
  fvm/transactionFeeDeductor.go
  module/trace/constants.go
Owners: @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13

add tracking for chunk data pack generation
  engine/execution/ingestion/engine.go
  engine/execution/state/state.go
  module/trace/constants.go
Owners: @m4ksio, @psiemens

adding the access node sequence diagram to the access node readme
  cmd/access/README.md
  docs/AccessNodeSequenceDiagram.png
Owners: none

fix
  cmd/access/README.md
Owners: none

fixed file name
  cmd/access/README.md
Owners: none

removing watermark
  cmd/access/README.md
  docs/AccessNodeSequenceDiagram.png
Owners: none

path from slice to array
  ledger/common/encoding/encoding.go
  ledger/common/hash/hash.go
  ledger/common/hash/hash_test.go
  ledger/common/hash/sha3.go
  ledger/common/pathfinder/pathfinder.go
  ledger/common/pathfinder/pathfinder_test.go
  ledger/common/proof/proof.go
  ledger/complete/ledger.go
  ledger/complete/ledger_benchmark_test.go
  ledger/complete/ledger_test.go
  ledger/complete/mtrie/flattener/encoding_test.go
  ledger/complete/mtrie/flattener/forest.go
  ledger/complete/mtrie/flattener/forest_test.go
  ledger/complete/mtrie/flattener/iterator.go
  ledger/complete/mtrie/flattener/iterator_test.go
  ledger/complete/mtrie/flattener/trie_test.go
  ledger/complete/mtrie/forest.go
  ledger/complete/mtrie/forest_test.go
  ledger/complete/mtrie/node/node.go
  ledger/complete/mtrie/trie/json_test.go
  ledger/complete/mtrie/trie/trie.go
  ledger/complete/mtrie/trie/trie_test.go
  ledger/complete/wal/checkpointer.go
  ledger/complete/wal/checkpointer_test.go
  ledger/complete/wal/compactor_test.go
  ledger/partial/ledger.go
  ledger/partial/ptrie/node.go
  ledger/partial/ptrie/partialTrie.go
  ledger/partial/ptrie/partialTrie_test.go
  ledger/test.go
  ledger/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

Update network.go
  integration/tests/common/mvp_test.go
Owners: none

Update network.go
  integration/testnet/network.go
Owners: none

Linted
  module/validation/receipt_validator.go
Owners: none

Update module/dkg/client.go
  module/dkg/client.go
Owners: none

Fixed test
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

Update logging
  cmd/bootstrap/transit/cmd/prepare.go
Owners: @vishalchangrani, @ljk662

Do not close channel
  ledger/complete/ledger.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

adds chunk data pack requester interface
  engine/verification/fetcher/requester.go
Owners: @ramtinms, @yhassanzadeh13

adds chunk data pack requester interface
  engine/verification/fetcher/engine.go
  engine/verification/fetcher/requester.go
Owners: @ramtinms, @yhassanzadeh13

adds chunk requester handler
  engine/verification/fetcher/engine.go
Owners: @ramtinms, @yhassanzadeh13

update storage tracers
  engine/execution/computation/computer/computer.go
  engine/execution/ingestion/engine.go
  engine/execution/state/state.go
  engine/execution/state/state_test.go
  module/trace/constants.go
Owners: @m4ksio, @psiemens

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @awishformore @zhangchiqing
/engine/consensus/** @AlexHentschel @awishformore @zhangchiqing

# Execution Stream
/cmd/execution/** @m4ksio @psiemens
/engine/execution/** @m4ksio @psiemens

# Observation Stream
/cmd/observation/** @psiemens
/engine/observation/** @psiemens
/protobuf/services/observation/** @psiemens

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani @ljk662
