Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @zhangchiqing, @m4ksio, @ramtinms, @vishalchangrani, @yhassanzadeh13, @janezpodhostnik, @pattyshack, @tarakby, @SaveTheRbtz, @simonhf, @Kay-Zee, @AndrewM-SDET

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @zhangchiqing
/engine/consensus/** @AlexHentschel @zhangchiqing

# Execution Stream
/cmd/execution/** @m4ksio @ramtinms
/engine/execution/** @m4ksio @ramtinms

# Access Stream
/cmd/access/** @vishalchangrani
/engine/access/** @vishalchangrani

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# FVM Stream 
/fvm/**  @ramtinms @janezpodhostnik @pattyshack

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani

# Performance Stream
/integration/benchmark/** @SaveTheRbtz @simonhf @Kay-Zee @AndrewM-SDET
/integration/localnet/** @SaveTheRbtz @simonhf @Kay-Zee @zhangchiqing @AndrewM-SDET
/module/profiler/** @SaveTheRbtz @simonhf @Kay-Zee @pattyshack
/module/trace/** @SaveTheRbtz @simonhf @Kay-Zee @pattyshack
/module/tracer.go @SaveTheRbtz @simonhf @Kay-Zee @pattyshack
/utils/binstat/** @SaveTheRbtz @simonhf @Kay-Zee @pattyshack

Crash Access Node if disk is full (#1956)
  storage/badger/cache.go
  storage/badger/transaction/tx.go
  utils/io/write.go
  utils/io/write_test.go
Owners: none

minor interface doc update
  crypto/bls_thresholdsign.go
  crypto/thresholdsign.go
Owners: @tarakby

remove debug log
  consensus/integration/integration_test.go
Owners: none

fix: address review feedback
  engine/consensus/compliance/engine.go
  engine/consensus/compliance/engine_test.go
  utils/unittest/irrecoverable.go
Owners: @AlexHentschel, @zhangchiqing

fix: use MessageProcessor for sync->comp messages
  engine/common/follower/engine.go
  engine/common/synchronization/engine.go
  engine/common/synchronization/engine_test.go
  engine/consensus/compliance.go
  engine/consensus/compliance/engine.go
  engine/consensus/mock/compliance_processor.go
Owners: @AlexHentschel, @zhangchiqing

Replaced round duration calculation formula with different one. Updated config
  consensus/hotstuff/pacemaker/timeout/config.go
  consensus/hotstuff/pacemaker/timeout/controller.go
Owners: none

fix test
  fvm/fvm_test.go
Owners: @ramtinms, @janezpodhostnik, @pattyshack

Disable limits on final state merge in FVM
  fvm/fvm_test.go
  fvm/transactionInvoker.go
Owners: @ramtinms, @janezpodhostnik, @pattyshack

Fixed tests for timeout controller'
  consensus/hotstuff/pacemaker/timeout/config_test.go
  consensus/hotstuff/pacemaker/timeout/controller_test.go
Owners: none

Events in scripts do nothing
  fvm/environment/event_emitter.go
  fvm/environment/event_emitter_test.go
Owners: @ramtinms, @janezpodhostnik, @pattyshack

Merge meter (and interaction) unconditionally
  fvm/meter/meter.go
  fvm/meter/weighted_meter.go
  fvm/meter/weighted_meter_test.go
  fvm/state/state.go
  fvm/state/state_holder.go
  fvm/state/state_test.go
Owners: @ramtinms, @janezpodhostnik, @pattyshack

Fixed config related changes in other parts of codebase
  cmd/collection/main.go
  cmd/consensus/main.go
  consensus/config.go
  consensus/hotstuff/eventhandler/event_handler_test.go
  consensus/hotstuff/integration/integration_test.go
  consensus/hotstuff/integration/liveness_test.go
  consensus/hotstuff/pacemaker/pacemaker_test.go
  consensus/integration/nodes_test.go
  consensus/participant.go
  engine/testutil/nodes.go
Owners: @jordanschalm, @AlexHentschel, @zhangchiqing

Linted
  consensus/hotstuff/pacemaker/timeout/controller_test.go
Owners: none

mv AllocateStorageIndex into ValueStore
  fvm/env.go
  fvm/environment/value_store.go
Owners: @ramtinms, @janezpodhostnik, @pattyshack

Update cmd/scaffold.go
  cmd/scaffold.go
Owners: none

Update cmd/access/node_builder/access_node_builder.go
  cmd/access/node_builder/access_node_builder.go
Owners: @vishalchangrani

add logging and comments from code review
  cmd/node_builder.go
  network/p2p/middleware.go
Owners: @yhassanzadeh13, @vishalchangrani

Convert programs cache into mini occ databases
  fvm/programs/block_programs.go
  fvm/programs/block_programs_test.go
  fvm/programs/error.go
  fvm/programs/invalidator.go
  fvm/programs/invalidator_test.go
  fvm/programs/logical_time.go
  fvm/programs/programs.go
  fvm/programs/programs_test.go
Owners: @ramtinms, @janezpodhostnik, @pattyshack
