Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @durkmurder, @m4ksio, @ramtinms, @vishalchangrani, @yhassanzadeh13, @janezpodhostnik, @pattyshack, @tarakby, @gomisha, @SaveTheRbtz

use atomic block tracker over channel
  engine/collection/compliance/engine.go
Owners: @jordanschalm

use atomic block tracker over channel
  engine/collection/compliance/engine.go
  engine/consensus/compliance/engine.go
Owners: @jordanschalm, @AlexHentschel, @durkmurder

Apply suggestions from code review
  engine/collection/compliance/core.go
  engine/consensus/compliance/core.go
Owners: @jordanschalm, @AlexHentschel, @durkmurder

replace log fatal with panic
  engine/collection/compliance/engine.go
Owners: @jordanschalm

add -v flag to unit tests
  Makefile
Owners: none

replace log.fatals
  engine/collection/compliance/engine.go
  engine/collection/epochmgr/engine.go
  engine/collection/rpc/engine.go
  engine/collection/synchronization/engine.go
  engine/collection/synchronization/request_handler.go
Owners: @jordanschalm

handle invalid input error in core processBlock
  engine/collection/compliance/core.go
Owners: @jordanschalm

handle invalid input error in core processBlock
  engine/collection/compliance/core.go
Owners: @jordanschalm

handle invalid input error in core processBlock (#3610)
  engine/collection/compliance/core.go
Owners: @jordanschalm

Revert "replace log fatal with panic"
  engine/collection/compliance/engine.go
Owners: @jordanschalm

burnishes insecure fixtures
  insecure/corruptlibp2p/fixtures.go
Owners: @gomisha, @yhassanzadeh13

burnishes insecure fixtures
  insecure/corruptlibp2p/fixtures.go
Owners: @gomisha, @yhassanzadeh13

renames corrupt gossipsub router
  insecure/corruptlibp2p/internal/corruptGossipSubRouter.go
Owners: @gomisha, @yhassanzadeh13

fix ingestion load unexecuted
  engine/execution/ingestion/engine.go
Owners: @m4ksio, @ramtinms

move fetch collections out of matchOrRequestCollection
  engine/common/requester/engine.go
  engine/execution/ingestion/engine.go
  storage/badger/commits.go
Owners: @m4ksio, @ramtinms

adds documentation to corrupt topic
  insecure/corruptlibp2p/internal/corruptGossipSubRouter.go
  insecure/corruptlibp2p/internal/subscription.go
Owners: @gomisha, @yhassanzadeh13

Meter param overrides cache skeleton.
  fvm/executionParameters.go
  fvm/programs/block_derived_data.go
  fvm/programs/block_derived_data_test.go
  fvm/programs/block_programs.go
  fvm/programs/invalidator.go
Owners: @ramtinms, @janezpodhostnik, @pattyshack

adds documentation to corrupt topic
  insecure/corruptlibp2p/internal/topic.go
Owners: @gomisha, @yhassanzadeh13

add suspicious flag back to collection compliance
  engine/collection/compliance/core.go
Owners: @jordanschalm

[Networking] Adds metrics to GossipSub router (#3501)
  cmd/access/node_builder/access_node_builder.go
  cmd/observer/node_builder/observer_builder.go
  follower/follower_builder.go
  go.mod
  go.sum
  insecure/go.mod
  insecure/go.sum
  integration/go.mod
  integration/go.sum
  module/metrics.go
  module/metrics/network.go
  module/metrics/noop.go
  module/mock/gossip_sub_router_metrics.go
  module/mock/network_metrics.go
  network/internal/p2pfixtures/fixtures.go
  network/internal/testutils/testUtil.go
  network/p2p/p2pbuilder/libp2pNodeBuilder.go
  network/p2p/p2pnode/observableGossipSub.go
  network/test/middleware_test.go
Owners: @vishalchangrani, @gomisha, @yhassanzadeh13

[BFT Testing] fixes ingress related issues (#3591)
  insecure/cmd/corrupted_builder.go
  insecure/corruptnet/network.go
  insecure/orchestrator/corrupted_connection.go
  insecure/orchestrator/network.go
  integration/tests/bft/passthrough/dummy_orchestrator.go
  integration/tests/bft/passthrough/passthrough_test.go
Owners: @gomisha, @yhassanzadeh13

bug fix
  engine/execution/state/delta/storage.go
Owners: @m4ksio, @ramtinms

init map in constructor
  network/p2p/unicast/manager.go
Owners: @yhassanzadeh13, @vishalchangrani

[BFT] Limit inbound unicast streams
  network/p2p/unicast/manager.go
Owners: @yhassanzadeh13, @vishalchangrani

refactor to allow configurable number of streams
  cmd/access/node_builder/access_node_builder.go
  cmd/node_builder.go
  cmd/observer/node_builder/observer_builder.go
  cmd/scaffold.go
  follower/follower_builder.go
  module/metrics.go
  module/metrics/namespaces.go
  module/metrics/network.go
  module/metrics/noop.go
  module/mock/network_metrics.go
  module/mock/network_security_metrics.go
  network/internal/p2putils/utils.go
  network/internal/testutils/testUtil.go
  network/p2p/libp2pNode.go
  network/p2p/middleware/middleware.go
  network/p2p/p2pbuilder/libp2pNodeBuilder.go
  network/p2p/p2pnode/libp2pStream_test.go
  network/p2p/test/topic_validator_test.go
  network/p2p/unicast/manager.go
  network/test/middleware_test.go
Owners: @vishalchangrani, @yhassanzadeh13

update mocks
  module/mock/network_metrics.go
  module/mock/network_security_metrics.go
Owners: none

refactors corrupt adapter
  insecure/corruptlibp2p/pubsubAdapter.go
Owners: @gomisha, @yhassanzadeh13

[Execution] Break blobservice out to own component in en builder
  cmd/execution_builder.go
Owners: none

readd tracer
  cmd/execution_builder.go
Owners: none

removes redundant test helpers
  network/internal/p2pfixtures/fixtures.go
  network/p2p/dht/dht_test.go
  network/p2p/scoring/app_score_test.go
  network/p2p/scoring/subscription_validator_test.go
  network/p2p/subscription/subscription_filter_test.go
  network/p2p/test/sporking_test.go
  network/p2p/test/topic_validator_test.go
Owners: @yhassanzadeh13, @vishalchangrani

burnishes corrupt configs
  insecure/corruptlibp2p/pubsubAdapterConfig.go
Owners: @gomisha, @yhassanzadeh13

burnishes spammer gossipsub
  insecure/corruptlibp2p/spammerGossipSub.go
Owners: @gomisha, @yhassanzadeh13

removes spammer gossipsub test
  insecure/corruptlibp2p/spammerGossipSub_test.go
Owners: @gomisha, @yhassanzadeh13

burnishes corrupt libp2p
  insecure/corruptnet/libp2p_node_factory.go
Owners: @gomisha, @yhassanzadeh13

[Profiler] Start profiler asynchronously
  cmd/node_builder.go
  cmd/scaffold.go
  module/util/util.go
Owners: none

[Execution] Disable block uploads by default
  cmd/execution_builder.go
  engine/execution/computation/manager.go
  engine/execution/computation/manager_test.go
Owners: @m4ksio, @ramtinms

another experiement
  engine/execution/state/delta/oracle_benchmark_test.go
Owners: @m4ksio, @ramtinms

Merge pull request #3378 from onflow/khalil/1802-restrict-unicast-messages
  engine/ghost/engine/handler.go
  module/metrics/labels.go
  module/metrics/network.go
  network/message/authorization.go
  network/message/errors.go
  network/mocknetwork/violations_consumer.go
  network/slashing/consumer.go
  network/slashing/violations_consumer.go
  network/test/middleware_test.go
  network/test/unicast_authorization_test.go
  network/validator/authorized_sender_validator.go
  network/validator/authorized_sender_validator_test.go
Owners: @yhassanzadeh13, @vishalchangrani

Merge pull request #3276 from onflow/khalil/6393-corrupted-libp2pnode
  cmd/access/node_builder/access_node_builder.go
  cmd/node_builder.go
  cmd/observer/node_builder/observer_builder.go
  cmd/scaffold.go
  follower/follower_builder.go
  insecure/cmd/corrupted_builder.go
  insecure/corruptnet/conduit_factory.go
  insecure/corruptnet/conduit_factory_test.go
  insecure/corruptnet/libp2p_node_factory.go
  insecure/corruptnet/p2p_node.go
  module/upstream/upstream_connector.go
  network/internal/p2pfixtures/fixtures.go
  network/internal/testutils/testUtil.go
  network/p2p/dht/dht_test.go
  network/p2p/libp2pNode.go
  network/p2p/middleware/middleware.go
  network/p2p/p2pbuilder/libp2pNodeBuilder.go
  network/p2p/p2pnode/libp2pNode.go
  network/p2p/p2pnode/libp2pStream_test.go
  network/p2p/scoring/app_score_test.go
  network/p2p/scoring/subscription_validator_test.go
  network/p2p/subscription/subscription_filter_test.go
  network/p2p/test/sporking_test.go
  network/p2p/test/topic_validator_test.go
  network/test/echoengine_test.go
  network/test/meshengine_test.go
  network/test/middleware_test.go
Owners: @vishalchangrani, @gomisha, @yhassanzadeh13

[Network] Stop sending unused message.Message fields
  network/internal/messageutils/utils.go
  network/p2p/network.go
  network/p2p/unicast/ratelimit/bandwidth_rate_limiter_test.go
  network/test/middleware_test.go
  network/test/unicast_authorization_test.go
Owners: @yhassanzadeh13, @vishalchangrani

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @durkmurder @jordanschalm
/engine/consensus/** @AlexHentschel @durkmurder @jordanschalm

# Execution Stream
/cmd/execution/** @m4ksio @ramtinms
/engine/execution/** @m4ksio @ramtinms

# Access Stream
/cmd/access/** @vishalchangrani
/engine/access/** @vishalchangrani

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# FVM Stream 
/fvm/**  @ramtinms @janezpodhostnik @pattyshack

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani

# Dev Tools Stream
.github/workflows/** @gomisha
/insecure/** @gomisha @yhassanzadeh13
/integration/benchnet2/** @gomisha
/tools/test_monitor/** @gomisha

# Performance Stream
/integration/benchmark/** @SaveTheRbtz @gomisha
/integration/localnet/** @SaveTheRbtz
/module/profiler/** @SaveTheRbtz @pattyshack
/module/trace/** @SaveTheRbtz @pattyshack
/module/tracer.go @SaveTheRbtz @pattyshack
