Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @awishformore, @zhangchiqing, @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13, @vishalchangrani, @tarakby, @ljk662

Unexport googleBucket
  cmd/bootstrap/cmd/google.go
Owners: @vishalchangrani, @ljk662

lint
  cmd/execution/main.go
  ledger/complete/mtrie/forest.go
Owners: @m4ksio, @psiemens, @ramtinms, @AlexHentschel

fixing unit test
  engine/access/rpc/backend/backend_test.go
Owners: none

refactor node creation for upcoming additional tests
  consensus/integration/integration_test.go
  consensus/integration/nodes_test.go
Owners: none

proper wrapping of env
  fvm/blocks.go
  fvm/env.go
  fvm/errors/codes.go
  fvm/errors/errors.go
  fvm/errors/failures.go
  fvm/errors/transaction_execution.go
  fvm/errors/transaction_validation.go
  fvm/state/accounts.go
  fvm/state/address_generator.go
  fvm/state/state.go
  fvm/state/uuids.go
  fvm/transactionVerifier.go
Owners: none

Don't add features on refactor PR
  ledger/complete/ledger.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

fixes conflicts in block job
  engine/verification/assigner/blockconsumer/blockjob.go
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/reader.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/assigner/blockconsumer/worker.go
Owners: @ramtinms, @yhassanzadeh13

fixes conflicts on consumer tests
  engine/verification/assigner/blockconsumer/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

fixes empty line
  engine/verification/assigner/blockconsumer/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

fixes EOL
  engine/verification/assigner/blockconsumer/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

fixes EOL in reader
  engine/verification/assigner/blockconsumer/reader.go
Owners: @ramtinms, @yhassanzadeh13

fixes conflicts in worker
  engine/verification/assigner/blockconsumer/worker.go
Owners: @ramtinms, @yhassanzadeh13

refactors empty line
  engine/verification/assigner/blockconsumer/worker.go
Owners: @ramtinms, @yhassanzadeh13

removes blocks helper
  utils/unittest/blocks.go
Owners: none

proper wrapping for env methods
  fvm/env.go
Owners: none

use sha3 output length and a minor optimization
  ledger/common/hash.go
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

[Verification] Yahya/5400-resolve-interface-mismatch-consumer (#558)
  engine/verification/assigner/blockconsumer/consumer.go
  engine/verification/assigner/blockconsumer/reader.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/fetcher/consumer.go
  module/jobqueue.go
  module/jobqueue/consumer.go
  module/jobqueue/consumer_behavior_test.go
  module/jobqueue/consumer_test.go
  module/mock/job_consumer.go
  module/mock/jobs.go
  storage/badger/chunks_queue.go
  storage/badger/consumer_progress.go
  storage/badger/operation/jobs.go
  storage/chunks_queue.go
  storage/consumer_progress.go
  storage/mock/chunks_queue.go
  storage/mock/consumer_progress.go
Owners: @ramtinms, @yhassanzadeh13

Fix log messages
  cmd/bootstrap/transit/cmd/pull.go
  cmd/bootstrap/transit/cmd/push.go
Owners: @vishalchangrani, @ljk662

adds assigned chunk processor interface
  engine/verification/fetcher/consumer.go
  engine/verification/fetcher/consumer_test.go
  engine/verification/fetcher/processor.go
Owners: @ramtinms, @yhassanzadeh13

detail comments
  crypto/dkg_test.go
Owners: @tarakby

refactors assigned chunks processor interface
  engine/verification/fetcher/consumer.go
  engine/verification/fetcher/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

adds documentation for assigned chunk processor
  engine/verification/fetcher/processor.go
Owners: @ramtinms, @yhassanzadeh13

hold on spliting errors until top level
  fvm/bootstrap.go
  fvm/crypto.go
  fvm/env.go
  fvm/errors/errors.go
  fvm/fvm.go
  fvm/mock/transaction_processor.go
  fvm/script.go
  fvm/transaction.go
  fvm/transactionAccountFrozen.go
  fvm/transactionFeeDeductor.go
  fvm/transactionInvocator.go
  fvm/transactionSequenceNum.go
  fvm/transactionStorageLimiter.go
  fvm/transactionStorageLimiter_test.go
  fvm/transactionVerifier.go
  fvm/transaction_processor_test.go
  fvm/transaction_test.go
Owners: none

updates makefile for generating mocks for fetcher
  Makefile
Owners: none

adds LocalFixture
  engine/testutil/nodes.go
Owners: none

renames mock block processor
  engine/verification/assigner/blockconsumer/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

renames mock engine
  engine/verification/fetcher/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

refactors fetcher with processing notifier
  engine/verification/fetcher/engine.go
Owners: @ramtinms, @yhassanzadeh13

removes finish processing
  engine/verification/fetcher/consumer.go
Owners: @ramtinms, @yhassanzadeh13

adds mock for assigned chunk processor
  engine/verification/fetcher/mock/assigned_chunk_processor.go
Owners: @ramtinms, @yhassanzadeh13

reverted to previous version of trie.update
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

removed redundant check
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

added check whether or not to run updates concurrently in left/right subtree
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

add cluster list fixture
  utils/unittest/cluster.go
Owners: none

add simple epoch consensus tests
  consensus/integration/epoch_test.go
  consensus/integration/integration_test.go
Owners: none

add tests
  fvm/errors/errors_test.go
  fvm/mock/script_processor.go
Owners: none

add static identity epoch transition
  consensus/integration/epoch_test.go
Owners: none

update error message
  consensus/hotstuff/validator/validator.go
Owners: none

add overlapping committee on epoch boundary test
  consensus/integration/epoch_test.go
  utils/unittest/fixtures.go
Owners: none

added goDoc to answer questions which where contained in the code's comments
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @awishformore @zhangchiqing
/engine/consensus/** @AlexHentschel @awishformore @zhangchiqing

# Execution Stream
/cmd/execution/** @m4ksio @psiemens
/engine/execution/** @m4ksio @psiemens

# Observation Stream
/cmd/observation/** @psiemens
/engine/observation/** @psiemens
/protobuf/services/observation/** @psiemens

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani @ljk662
