Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @awishformore, @zhangchiqing, @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13, @vishalchangrani, @tarakby, @ljk662

merge fix
  fvm/fvm_test.go
Owners: none

adding block ID to TransactionResult response
  access/api.go
  engine/access/rpc/backend/backend_test.go
  engine/access/rpc/backend/backend_transactions.go
  engine/access/rpc/backend/retry.go
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

rm unwanted tests
  fvm/fvm_test.go
Owners: none

keep renaming for another PR
  fvm/transaction_test.go
Owners: none

Fail tx if storage limiter fails (#544)
  fvm/context.go
  fvm/fvm_test.go
  fvm/transaction.go
Owners: none

comment fix
  fvm/fvm.go
Owners: none

Replaced forkCrawler with TraverseForward
  module/validation/receipt_validator.go
Owners: none

adding block ID to TransactionResult response (#557)
  access/api.go
  engine/access/rpc/backend/backend_test.go
  engine/access/rpc/backend/backend_transactions.go
  engine/access/rpc/backend/retry.go
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

remove transaction results Store method
  storage/badger/transaction_results.go
  storage/badger/transaction_results_test.go
  storage/transaction_results.go
Owners: none

update BatchStore
  engine/execution/state/state.go
  storage/badger/batch.go
  storage/badger/cache.go
  storage/badger/chunkDataPacks.go
  storage/badger/commits.go
  storage/badger/events.go
  storage/badger/operation/max.go
  storage/badger/transaction_results.go
  storage/batch.go
Owners: @m4ksio, @psiemens

add test cases
  storage/badger/events.go
  storage/badger/events_test.go
  storage/events.go
Owners: none

fix tests
  cmd/execution/main.go
  cmd/util/cmd/exec-data-json-export/event_exporter.go
  engine/testutil/nodes.go
  storage/badger/all.go
  storage/badger/events.go
  storage/badger/events_test.go
  storage/badger/headers.go
  storage/badger/results.go
  storage/badger/transaction_results_test.go
Owners: @m4ksio, @psiemens

fix test case
  storage/badger/transaction_results.go
  storage/badger/transaction_results_test.go
Owners: none

add test cases
  storage/badger/events_test.go
  storage/badger/transaction_results_test.go
Owners: none

fix initializing events module
  cmd/execution/main.go
  storage/badger/batch.go
  storage/badger/events.go
Owners: @m4ksio, @psiemens

reuse txn
  storage/badger/cluster_payloads.go
  storage/badger/commits.go
  storage/badger/events.go
  storage/badger/headers.go
  storage/badger/transaction_results.go
  storage/badger/transactions.go
Owners: none

make default events capacity smaller
  cmd/execution/main.go
  storage/badger/events.go
Owners: @m4ksio, @psiemens

make transaction results cache size to be configable
  cmd/execution/main.go
  engine/testutil/nodes.go
  storage/badger/all.go
  storage/badger/transaction_results.go
  storage/badger/transaction_results_test.go
Owners: @m4ksio, @psiemens

update comment
  cmd/execution/main.go
  storage/badger/batch.go
  storage/badger/transaction_results.go
  storage/batch.go
Owners: @m4ksio, @psiemens

refactors jobs
  storage/badger/operation/jobs.go
Owners: none

refactors storage consumer progress
  storage/consumer_progress.go
Owners: none

refactors badger consumer progress
  storage/badger/consumer_progress.go
Owners: none

refactors processed index in consumer
  engine/verification/assigner/blockconsumer/reader.go
  engine/verification/fetcher/consumer.go
  module/jobqueue.go
  module/jobqueue/consumer.go
  module/jobqueue/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

refactors processed index in chunks locator
  engine/verification/fetcher/consumer.go
  storage/badger/chunks_queue.go
  storage/badger/operation/jobs.go
  storage/chunks_queue.go
Owners: @ramtinms, @yhassanzadeh13

refactors processed index in block consumer
  engine/verification/assigner/blockconsumer/consumer.go
Owners: @ramtinms, @yhassanzadeh13

re-generates mocks
  storage/mock/chunks_queue.go
  storage/mock/consumer_progress.go
Owners: none

fixes reader test
  engine/verification/assigner/blockconsumer/reader_test.go
Owners: @ramtinms, @yhassanzadeh13

fixes job queue tests
  module/jobqueue/consumer.go
  module/jobqueue/consumer_behavior_test.go
  module/jobqueue/consumer_test.go
  module/mock/job_consumer.go
  module/mock/jobs.go
Owners: none

fix
  fvm/transactionInvocator.go
Owners: none

fixes consumer behavior test
  module/jobqueue/consumer_behavior_test.go
Owners: none

More data on the storage reporter (#531)
  cmd/util/ledger/migrations/storage_reporter.go
Owners: none

Update engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

refactors consumer test with require close helper
  engine/verification/assigner/blockconsumer/consumer_test.go
Owners: @ramtinms, @yhassanzadeh13

Update engine/verification/assigner/blockconsumer/reader.go
  engine/verification/assigner/blockconsumer/reader.go
Owners: @ramtinms, @yhassanzadeh13

fixes complie issues
  engine/verification/assigner/blockconsumer/reader.go
Owners: @ramtinms, @yhassanzadeh13

New test: Checker heavy contract deployment (#359)
  engine/execution/testutil/fixtures_checker_heavy_contract.go
  fvm/fvm_test.go
Owners: @m4ksio, @psiemens

remove tests for removed hash and signature algorithms
  fvm/accounts_test.go
Owners: none

update to Cadence v0.14.2 and SDK v0.17.0
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

remove uses of removed signature and hash algorithms
  fvm/crypto.go
Owners: none

update to Cadence v0.14.3
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @awishformore @zhangchiqing
/engine/consensus/** @AlexHentschel @awishformore @zhangchiqing

# Execution Stream
/cmd/execution/** @m4ksio @psiemens
/engine/execution/** @m4ksio @psiemens

# Observation Stream
/cmd/observation/** @psiemens
/engine/observation/** @psiemens
/protobuf/services/observation/** @psiemens

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani @ljk662
