Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @awishformore, @zhangchiqing, @m4ksio, @ramtinms, @vishalchangrani, @yhassanzadeh13, @janezpodhostnik, @tarakby, @ljk662

removes redundant conduit implementation
  network/stub/conduit.go
Owners: @yhassanzadeh13, @vishalchangrani

replaces stub conduit with default one
  network/stub/network.go
Owners: @yhassanzadeh13, @vishalchangrani

replaces conduit functions with adaptor methods
  network/p2p/conduit/conduit.go
Owners: @yhassanzadeh13, @vishalchangrani

removes conduit functions
  network/conduit.go
Owners: @yhassanzadeh13, @vishalchangrani

renames with network adapter method of conduit
  network/conduit.go
  network/p2p/conduit/conduit.go
  network/p2p/network.go
Owners: @yhassanzadeh13, @vishalchangrani

dips context creation into the conduit factory
  network/conduit.go
  network/p2p/conduit/conduit.go
  network/p2p/network.go
  network/stub/network.go
Owners: @yhassanzadeh13, @vishalchangrani

adds documentation for network conduit
  network/conduit.go
  network/p2p/conduit/conduit.go
Owners: @yhassanzadeh13, @vishalchangrani

adds documentation for the network adapter
  network/network.go
  network/p2p/network.go
Owners: @yhassanzadeh13, @vishalchangrani

refactors conduit factory as an option
  cmd/access/node_builder/access_node_builder.go
  network/p2p/network.go
  network/test/testUtil.go
Owners: @vishalchangrani, @yhassanzadeh13

implements adapter interface for the networking layer
  engine/testutil/nodes.go
  network/stub/network.go
Owners: @yhassanzadeh13, @vishalchangrani

fixes compile issue on scaffold
  cmd/scaffold.go
Owners: none

Update network/network.go
  network/network.go
Owners: @yhassanzadeh13, @vishalchangrani

fixing tests
  engine/execution/computation/execution_verification_test.go
  engine/execution/state/bootstrap/bootstrap_test.go
  fvm/accounts_test.go
  fvm/bootstrap.go
  go.mod
  go.sum
  utils/unittest/execution_state.go
Owners: @m4ksio, @ramtinms, @janezpodhostnik

tidy
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

update tests
  engine/collection/epochmgr/engine_test.go
Owners: @jordanschalm

Apply suggestions from code review
  engine/consensus/dkg/messaging_engine.go
  module/dkg/client.go
Owners: @AlexHentschel, @awishformore, @zhangchiqing

Update module/dkg/broker.go
  module/dkg/broker.go
Owners: none

move skips to suite (avoids docker setup/teardown)
  integration/tests/epochs/epoch.go
  integration/tests/epochs/epoch_join_and_leave_an/main_test.go
  integration/tests/epochs/epoch_join_and_leave_ln/main_test.go
  integration/tests/epochs/epoch_join_and_leave_sn/main_test.go
  integration/tests/epochs/epoch_join_and_leave_vn/main_test.go
  integration/tests/epochs/suite.go
  integration/tests/epochs/views_progress/view_progress_test.go
Owners: none

rename
  integration/tests/epochs/epoch_static_transition/main_test.go
Owners: none

improve progress messages on state tracker
  integration/tests/common/blockstate/block_state.go
Owners: none

make epoch tests as flakey
  integration/Makefile
  integration/tests/epochs/epoch.go
  integration/tests/epochs/epoch_join_and_leave_an/main_test.go
  integration/tests/epochs/epoch_join_and_leave_ln/main_test.go
  integration/tests/epochs/epoch_join_and_leave_sn/main_test.go
  integration/tests/epochs/epoch_join_and_leave_vn/main_test.go
Owners: none

update transit push command
  cmd/bootstrap/cmd/partner_infos.go
  cmd/bootstrap/transit/cmd/push.go
  cmd/bootstrap/transit/cmd/utils.go
Owners: @vishalchangrani, @ljk662

remove verbose flag
  cmd/bootstrap/cmd/partner_infos.go
Owners: @vishalchangrani, @ljk662

let any 32 bytes tags be acceptable for ecdsa
  fvm/crypto/crypto.go
  fvm/crypto/crypto_test.go
Owners: @ramtinms, @janezpodhostnik

fix reporters
  cmd/util/ledger/migrations/ordered_map_migration.go
  cmd/util/ledger/migrations/ordered_map_migration_test.go
  cmd/util/ledger/reporters/account_reporter.go
  cmd/util/ledger/reporters/account_reporter_test.go
Owners: none

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @awishformore @zhangchiqing
/engine/consensus/** @AlexHentschel @awishformore @zhangchiqing

# Execution Stream
/cmd/execution/** @m4ksio @ramtinms
/engine/execution/** @m4ksio @ramtinms

# Access Stream
/cmd/access/** @vishalchangrani
/engine/access/** @vishalchangrani

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# FVM Stream 
/fvm/**  @ramtinms @janezpodhostnik

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani @ljk662
