Repository onflow/flow-go, changes with the owners that CODEOWNERS names for each.
All owners: @jordanschalm, @AlexHentschel, @awishformore, @zhangchiqing, @m4ksio, @psiemens, @ramtinms, @yhassanzadeh13, @vishalchangrani, @tarakby, @ljk662

overlapping committee test
  consensus/integration/epoch_test.go
  consensus/integration/nodes_test.go
Owners: none

makes extending state exportable
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/test/helper.go
  engine/verification/test/verification_test.go
Owners: @ramtinms, @yhassanzadeh13

refactors mock chunk assigner
  engine/verification/test/helper.go
  engine/verification/test/verification_test.go
Owners: @ramtinms, @yhassanzadeh13

adds single chunk test
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

adds chunk locators to mock chunk assigner
  engine/verification/test/helper.go
Owners: @ramtinms, @yhassanzadeh13

fixes single chunk test
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

fixes chunk assigner bug
  engine/verification/test/helper.go
Owners: @ramtinms, @yhassanzadeh13

fixes multiple chunks test
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

Update ledger/complete/mtrie/node/node.go
  ledger/complete/mtrie/node/node.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

addressed review comments
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

fix
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

update to github.com/dapperlabs/cadence-internal v0.13.9-fix-borrowing
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

creates test cases
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

refactors complete chain fixture
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/test/assignerfetcher_test.go
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

reset active state back to what it was
  fvm/handler/programs.go
Owners: none

adds execution results from parent block fixture
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

refactors with execution receipt data
  engine/verification/test/assignerfetcher_test.go
  engine/verification/test/helper.go
  engine/verification/test/verification_test.go
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

Properly update contract
  fvm/handler/programs_test.go
Owners: none

Add test showcasing problem with contract update (#568)
  fvm/handler/programs_test.go
Owners: none

don't produce vote when not a valid committee member and next leader
  consensus/hotstuff/eventhandler/event_handler.go
Owners: none

return error specified by interface in committee implementations
  consensus/hotstuff/committees/cluster_committee.go
  consensus/hotstuff/committees/consensus_committee.go
  consensus/hotstuff/committees/convert.go
Owners: none

adds builder options
  engine/verification/utils/fixtures.go
Owners: @ramtinms, @yhassanzadeh13

refactors tests
  engine/verification/test/assignerfetcher_test.go
Owners: @ramtinms, @yhassanzadeh13

adds detecting duplicate functionality
  engine/verification/test/helper.go
Owners: @ramtinms, @yhassanzadeh13

change an empty trie root to nil
  ledger/complete/mtrie/flattener/iterator.go
  ledger/complete/mtrie/flattener/iterator_test.go
  ledger/complete/mtrie/forest.go
  ledger/complete/mtrie/forest_test.go
  ledger/complete/mtrie/node/node.go
  ledger/complete/mtrie/trie/trie.go
  ledger/complete/mtrie/trie/trie_test.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

completes testing with duplicate
  engine/verification/test/assignerfetcher_test.go
  engine/verification/test/helper.go
Owners: @ramtinms, @yhassanzadeh13

improve parallelization conditions and add specific benchmarks
  ledger/complete/ledger_benchmark_test.go
  ledger/complete/mtrie/forest.go
  ledger/complete/mtrie/trie/trie.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

refactor process of setting up next epoch
  consensus/integration/epoch_test.go
Owners: none

[FVM] program cache patch 2 (#572)
  fvm/handler/programs.go
  fvm/handler/programs_test.go
Owners: none

Compress WAL
  ledger/complete/wal/wal.go
Owners: @ramtinms, @m4ksio, @AlexHentschel

apply PRs comment
  fvm/blocks.go
  fvm/crypto.go
  fvm/env.go
  fvm/errors/accounts.go
  fvm/errors/base.go
  fvm/errors/codes.go
  fvm/errors/contracts.go
  fvm/errors/errors.go
  fvm/errors/errors_test.go
  fvm/errors/execution.go
  fvm/errors/failures.go
  fvm/errors/txVerifier.go
  fvm/errors/validation.go
  fvm/fvm_test.go
  fvm/state/accounts.go
  fvm/state/accounts_test.go
  fvm/state/state.go
  fvm/transactionSequenceNum.go
  fvm/transactionStorageLimiter.go
  fvm/transactionVerifier.go
  fvm/transaction_processor_test.go
Owners: none

clean up
  engine/execution/computation/computer/computer.go
  engine/execution/computation/computer/computer_test.go
  fvm/accounts_test.go
  fvm/blocks.go
  fvm/env.go
  fvm/errors/accounts.go
  fvm/errors/base.go
  fvm/errors/errors.go
  fvm/errors/execution.go
  fvm/errors/failures.go
  fvm/errors/txVerifier.go
  fvm/fvm_test.go
  fvm/transaction_processor_test.go
Owners: @m4ksio, @psiemens

clean up comments
  fvm/blocks.go
  fvm/crypto.go
  fvm/state/accounts.go
  fvm/state/address_generator.go
Owners: none

don't override error codes
  fvm/errors/codes.go
  fvm/errors/txVerifier.go
Owners: none

lint love
  fvm/errors/codes.go
Owners: none

make tidy
  go.sum
  integration/go.sum
Owners: none

print error codes
  engine/execution/computation/computer/computer.go
  fvm/errors/accounts.go
  fvm/errors/base.go
  fvm/errors/codes.go
  fvm/errors/contracts.go
  fvm/errors/errors.go
  fvm/errors/execution.go
  fvm/errors/failures.go
  fvm/errors/txVerifier.go
  fvm/fvm.go
Owners: @m4ksio, @psiemens

fixes lint issues
  engine/verification/assigner/blockconsumer/consumer_test.go
  engine/verification/assigner/blockconsumer/reader_test.go
  engine/verification/finder/concurrency_test.go
  engine/verification/finder/engine_test.go
Owners: @ramtinms, @yhassanzadeh13

Update Cadence to v0.14.4
  go.mod
  go.sum
  integration/go.mod
  integration/go.sum
Owners: none

rename transaction_tests
  fvm/transactionInvocator_test.go
Owners: none

CODEOWNERS:

# Collection Stream
/cmd/collection/** @jordanschalm
/engine/collection/** @jordanschalm
/protobuf/services/collection/** @jordanschalm

# Consensus Stream
/cmd/consensus/** @AlexHentschel @awishformore @zhangchiqing
/engine/consensus/** @AlexHentschel @awishformore @zhangchiqing

# Execution Stream
/cmd/execution/** @m4ksio @psiemens
/engine/execution/** @m4ksio @psiemens

# Observation Stream
/cmd/observation/** @psiemens
/engine/observation/** @psiemens
/protobuf/services/observation/** @psiemens

# Verification Stream
/cmd/verification/** @ramtinms @yhassanzadeh13
/engine/verification/** @ramtinms @yhassanzadeh13
/module/chunking/** @ramtinms
/integration/tests/verification @ramtinms @yhassanzadeh13

# Ledger Stream 
/ledger/** @ramtinms @m4ksio @AlexHentschel

# Networking Stream
/network/** @yhassanzadeh13 @vishalchangrani

# Cryptography Stream
/crypto/** @tarakby

# Bootstrap and transit scripts
/cmd/bootstrap/** @vishalchangrani @ljk662
